.search {
  box-sizing: border-box;
  background-color: var(--light-bg-color);
  min-height: 10vh;
  
  display: flex;
  align-items: center;
  justify-content: center;

}
.search__wrapper{
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  color: var(--dark-font-color);
  border-radius: 10px;
  box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.24);
}

.search__input{
  font-size: 1.5rem;
  border-color: var(--dark-bg-color);
}

.search__button{
  display: block;
  padding: 0.7rem;
  background-color: var(--accent-color);
  color: var(--light-font-color);
}

.search__button:hover{
  background-color: var(--dark-accent-color);
}